<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('assets/img/Logocdr.png'); height: 60vh !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="brand text-center">
                    <span class="font-weight-light font-vetor-jb">João de Barro Ambiental</span>
                    <div class="col-lg-12">
                        <div class="my-4 container font-vetor-sub font-weight-light" style="text-align:center">
                            <div class="font-weight-bold p-4">
                                <span class="text-sombrer">Uma
                                </span>Empresa Múltiplas Soluções
                             </div>
                            <div class="font-weight-light"> Venha conhecer um pouco sobre nós! </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>