<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('assets/img/Logocdr.png'); height: 60vh !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1 class="font-weight-light">João de Barro Ambiental</h1>
                    <div class="col-lg-12" style="padding:0px">
                        <div class="my-4 container h3 font-weight-light" style="text-align:center">
                            <span class="efectLy Absbottom"
                                style="background-color: rgba(247, 247, 126,0.60); padding-bottom: 10px;">
                                <span> Uma </span></span>
                            <span class="font-weight-bold ajusteTamPrin ">Empresa Múltiplas Soluções </span>
                            <div class="font-weight-light ajusteTamSub"> Venha conhecer um pouco sobre nós! </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>