<nav id="nav-contato" class="nav-contato  desktop-size pt15">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-5">
                        <div>
                            <div><strong>Dúvidas?</strong></div>
                            <div class="">Entre em contato:</div>
                            <div></div>
                        </div>
                    </div>
                    <div class="btn-abrir-empresa col-md-7 inlineBlockButton">
                        <button class="btn btn-blue" onclick="alert('Modal contendo telefone e email')">
                            FALAR COM ESPECIALISTA
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 pl-2">
                        <div style="display: flex;">
                            <div class="">Entre em contato com a João de barro:</div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="exampleInput1" class="bmd-label-floating">Digite seu email...</label>
                            <input type="email" class="form-control" id="exampleInput1">
                            <span class="bmd-help">Já já entramos em contato.</span>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <div class="form-group">
                            <button disabled="disabled" class="btn" onclick="alert('Serviço de envio de email')">
                                ENVIAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>