/* You can add global styles to this file, and also import other style files */

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

h2{
    font-size: 3.6rem;
    line-height: 4.6rem;
}

h3{
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.title-section{
    font-size: 3.6rem;
    line-height: 4.6rem;
}

.header-text{
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.content-text{
    font-size: 1.8rem;
    line-height: 2.8rem;
}
