/* You can add global styles to this file, and also import other style files */


html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

h2{
    font-size: 3.6rem;
    line-height: 4.6rem;
}

h3{
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.title-section{
    font-size: 3.6rem;
    line-height: 4.6rem;
}

.header-text{
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.content-text{
    font-size: 1.8rem;
    line-height: 2.8rem;
}

/* 4k*/
@media (max-width: 2560px){

    html{
        font-size: 100%!important;
    }
}


/* laptop large*/
@media (max-width: 1440px){

    html{
        font-size: 80%!important;
    }

    .container {
        max-width: 1404px;
    }
}

/* laptop */
@media (min-width: 768px) and (max-width: 1024px){

    html{
        font-size: 65.5%!important;
    }

    .container, .container-md, .container-sm {
        max-width: 988px;
    }
}

/* Tablet */
@media  only screen
 and (min-width : 425px) 
 and (max-width: 767px){

    html{
        font-size: 50%!important;
    }

    .container, .container-sm {
        max-width: 732px;
    }
}

/* Mobile large */
@media (max-width: 425px){

    html{
        font-size: 5%!important;
    }
}

/* Mobile medium */
@media (max-width: 375px){

    html{
        font-size: 100% !important;
    }
}

/* Mobile small */
@media (max-width: 320px){

    html{
        font-size: 100% !important;
    }
}



