 <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
   <div class="container justify-content-center">
     <div class="">
       <ul class="navbar-nav ml-auto">
         <li>
           <ul class="navbar-nav">
             <li class="nav-item">
               <a id="home" class="nav-link textFontNav" href="#"> Home</a>
             </li>
             <li class="nav-item">
               <a id="sobrenos" class="nav-link textFontNav" href="#">Sobre Nós </a>
             </li>
             <li class="nav-item">
               <a id="servicos" class="nav-link textFontNav" href="#">Serviços </a>
             </li>
             <li class="nav-item">
               <a id="galeria" class="nav-link textFontNav" href="#">Galeria </a>
             </li>
             <li class="nav-item">
               <a id="contato" class="nav-link textFontNav" href="#">Contato </a>
             </li>
           </ul>
         </li>
       </ul>

       <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="sr-only">Toggle navigation</span>
         <span class="navbar-toggler-icon"></span>
         <span class="navbar-toggler-icon"></span>
         <span class="navbar-toggler-icon"></span>
       </button>
     </div>

   </div>
 </nav>

 