<div class="section p-1 text-center">
    <!-- CONTENT -->
    <div class="pb-3">
        <div class="title mb-0 title-section">Nossas <span style="font-weight: lighter;">SOLUÇÕES</span></div>
        <div class="mt-0">Profissionalismo e confiança de quem está há
            <span style="background-color: #f7f77e99; padding-bottom: 10px;font-weight: bold;">
                mais de 15 anos no mercado
            </span>
        </div>
    </div>
    <div class="">
        <div class="card-group py-5">
            <div class="card card-height">
                <div class="card-header card-header-text card-header-primary"
                    style="background: linear-gradient(60deg, #5e5e30, #4A5C2A);  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133 134 115);">
                    <div class="card-text">
                        <h4 class="card-title color-text-card">LIMPEZA DE GALERIAS </h4>
                    </div>
                </div>
                <div class="card-body content-text">
                    Possuimos equipamentos modernos para realizar limpeza de galerias, desentupimentos,
                    limpeza de encanamentos e tubulações em geral utilizando sistema de hidrojateamento por alta
                    pressão.
                </div>
            </div>
            <div class="card card-height">
                <div class="card-header card-header-text card-header-primary"
                    style="background: linear-gradient(60deg, #5e5e30, #4A5C2A);  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133 134 115);">
                    <div class="card-text">
                        <h4 class="card-title">LIMPEZA E DESINFECÇÃO DE CAIXAS D’ÁGUA</h4>
                    </div>
                </div>
                <div class="card-body content-text">
                    Limpeza e desinfecção de reservatórios e caixas d'água utilizando produtos de qualidade,
                    veículos adequados com todo o material necessário, trabalhando com pontualidade dentro dos dias
                    e
                    horários programados.
                </div>
            </div>
        </div>
        <div class="card-group row">
            <div class="card card-height">
                <div class="card-header card-header-text card-header-primary"
                    style="background: linear-gradient(60deg, #5e5e30, #4A5C2A);  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133 134 115);">
                    <div class="card-text">
                        <h4 class="card-title">LIMPEZA E DESENTUPIMENTOS DE REDES DE ESGOTO E CAIXAS DE GORDURA</h4>
                    </div>
                </div>
                <div class="card-body content-text">
                    Desentupimentos em redes esgotos e caixas de gordura sem danificar pisos ou paredes,
                    independentemente dos ângulos ou curvas da rede de tubulação com modernos equipamentos para
                    desobstruir condutores de água e efluentes.
                </div>
            </div>

            <div class="card card-height">
                <div class="card-header card-header-text card-header-primary"
                    style="background: linear-gradient(60deg, #5e5e30, #4A5C2A);  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133 134 115);">
                    <div class="card-text">
                        <h4 class="card-title">SUCÇÃO DE FOSSA</h4>
                    </div>
                </div>
                <div class="card-body content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et placerat dui, sit amet
                    facilisis
                    sem.
                    Duis fringilla eleifend urna, ut posuere elit placerat vitae.
                </div>
            </div>
        </div>
    </div>