<div class="section text-center">
    <!-- CONTENT -->
    <div class="row">

        <div class="col-md-12 pb-3">
            <h2 class="title mb-0">Nossas <span style="font-weight: lighter;">SOLUÇÕES</span></h2>
            <h5 class="mt-0">Profissionalimo e confiança de quem está há <span style="background-color: rgba(247, 247, 126,0.60); padding-bottom: 10px;font-weight: bold;">mais de 15 anos no mercado</span></h5>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-text card-header-primary"
                    style="background: linear-gradient(60deg, #5e5e30, #070806);  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133 134 115);">
                    <div class="card-text">
                        <h4 class="card-title">LIMPEZA DE GALERIAS </h4>
                    </div>
                </div>
                <div class="card-body">
                    Possuimos equipamentos modernos para realizar limpeza de galerias, desentupimentos, 
                    limpeza de encanamentos e tubulações em geral utilizando sistema de hidrojateamento por alta pressão.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-text card-header-primary"
                    style="background: linear-gradient(60deg, #5e5e30, #070806);  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133 134 115);">
                    <div class="card-text">
                        <h4 class="card-title">LIMPEZA E DESINFECÇÃO DE CAIXAS D’ÁGUA</h4>
                    </div>
                </div>
                <div class="card-body">
                     Limpeza e desinfecção de reservatórios e caixas d'água utilizando produtos de qualidade,
                     veículos adequados com todo o material necessário, trabalhando com pontualidade dentro dos dias e horários programados.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-text card-header-primary"
                    style="background: linear-gradient(60deg, #5e5e30, #070806);  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133 134 115);">
                    <div class="card-text">
                        <h4 class="card-title">LIMPEZA E DESENTUPIMENTOS DE REDES DE ESGOTO E CAIXAS DE GORDURA</h4>
                    </div>
                </div>
                <div class="card-body">
                    Desentupimentos em redes esgotos e caixas de gordura sem danificar pisos ou paredes, 
                    independentemente dos ângulos ou curvas da rede de tubulação com modernos equipamentos para desobstruir condutores de água e efluentes.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-text card-header-primary"
                    style="background: linear-gradient(60deg, #5e5e30, #070806);  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgb(133 134 115);">
                    <div class="card-text">
                        <h4 class="card-title">SUCÇÃO DE FOSSA</h4>
                    </div>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et placerat dui, sit amet facilisis sem. 
                    Duis fringilla eleifend urna, ut posuere elit placerat vitae. 
                </div>
            </div>
        </div>


    </div>
</div>